body {
  max-width: 1550px;
  max-height: 1000px;
}

.kate {
  width: 50px;
  height: 50px;
  background-image: url("./assets/Kate.png");
  background-size: cover;
  position: absolute;
}

.score {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  width: 200px;
  height: 100px;
  flex-direction: column;
}
.score h2 {
  margin-bottom: -20px;
}

.enemy1 {
  width: 50px;
  height: 50px;
  background-image: url("./assets/job.png");
  background-size: cover;
  z-index: 2;
  position: absolute;
}
.enemy2 {
  width: 50px;
  height: 50px;
  background-image: url("./assets/thoughts.png");
  background-size: cover;
  z-index: 2;
  position: absolute;
}
