body {
  margin: 0;
  max-width: 1550px;
  max-height: 1000px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main {
  /* background-image: url("./assets/background.png"); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
}
.app-container {
  display: flex;
  height: 250px;
}

.info-container {
  height: 350px;
  border: 2px solid black;
  padding: 10px;
}
.game-task {
  font-size: 16px;
}
.game-effects {
  display: block;
  position: absolute;
}
.game-effects span {
  display: block;
}
.game-effects button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid #877272;
  font-size: 15px;
  margin: 0;
  padding: 3px 3px;
}
.kate {
  width: 50px;
  height: 50px;
  background-image: url("./assets/Kate.png");
  background-size: cover;
  position: absolute;
}

.score {
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  width: 200px;
  height: 100px;
  flex-direction: column;
}
.arrow-icons {
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
.arrow-icons span {
  margin-right: 10px;
}
.score h2 {
  margin-bottom: -20px;
}

.enemy1 {
  width: 50px;
  height: 50px;
  background-image: url("./assets/job.png");
  background-size: cover;
  z-index: 2;
  position: absolute;
}
.enemy2 {
  width: 50px;
  height: 50px;
  background-image: url("./assets/thoughts.png");
  background-size: cover;
  z-index: 2;
  position: absolute;
}
.game-info {
  font-size: small;
  width: 200px;
}
.show-level {
  margin-left: 600px;
  margin-top: -5px;
  position: absolute;
}

.aeroplane {
  background-image: url("./assets/aeroplane.png");
  background-size: cover;
  margin-left: 850px;
  margin-top: 20px;
  display: flex;
  width: 200px;
  height: 100px;
  position: absolute;
}

.game-info button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
}

.blood-container {
  position: absolute;
  overflow: hidden;
  margin-left: 620px;
  margin-top: 300px;
  width: 200px;
  height: 300px;
}

.blood-text {
  font-size: 34px;
}

.blood-text span {
  display: inline-block;
  color: red;
  animation: bloodFall 4s linear infinite;
}

@keyframes bloodFall {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(400%);
  }
}

.restart-button {
  position: absolute;
  margin-left: 610px;
  margin-top: 370px;
  height: 50px;
  cursor: pointer;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  border-style: double;
  font-weight: 600;
  background-image: linear-gradient(
    rgb(54, 53, 53),
    rgb(0, 0, 0),
    rgb(54, 54, 54)
  );
  color: rgb(164, 164, 162);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: rgb(0, 0, 0);
  transition: 400ms;
}

.restart-button:hover {
  transition: 400ms;
  border-style: double;
  border-color: rgb(208, 207, 207);
  color: rgb(219, 216, 216);
  font-size: 16px;
  text-shadow: 1px 10px 5px rgb(61, 61, 61);
}

.modal {
  display: flex;
  position: absolute;
  margin-top: -200px;
  z-index: 999;
  left: 0;
  top: 0;

  width: 100%;
  height: 150%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 300px;
  font-size: 18px;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
